*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.dark-3{
    color: #8987A1;
}
.margin{
    margin: auto 150px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.home-section{
    display: flex;
    align-items: center;
    gap: 40px;
}
.anchor-item{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 40px;

}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;

}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.span{
    color: #E95A08;
}
.card-title{
    
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.card-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content: center;
    
    

}
.card{
    
    height: 400px;
    width: 235px;
    text-align: center;

}
.card img{
    width: 235px;
}
.card-name{
    font-weight: 400;
}
.btn-primary{
    height: 40px;
    width: 100%;
    border: none;
    background-color: #E95A08;
    color: #fff;
}

.seller-section{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 200px;
}
.seller-sill{
    height: 286px;
    width: 286px;
}


.seller-title{
    font-size: 3rem;
    font-weight: 700;
}
.seller-paragraph li{
    margin-top: 30px;
    padding-left: 20px;
}

.letest-title{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}




/* *** Global styling start *** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

/* *** Global styling end *** */
 .letest-full-item img {
	width: 100%;
	height: 100%;
}
.deal-container {
	width: 1170px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	height: 400px;
}

.deal-container > div {
	border-radius: 20px;
}
.left > div {
	height: 50%;
	border-radius: 20px;
}
.banner-1 {
	background-image: url(./assets/deal-ana.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner-2 {
	background-image: url(./assets/deal-bloom.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.right {
	grid-column: span 2;
	background-image: url(./assets/deal-zabo.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.219);
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
}
.content a{
    color: #fff;
}




.join-us {
    margin-top: 100px;
	height: 600px;
	background-image: url(./assets/news-letter-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.form-title{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 16px;
}

.Subscribe{
   display: inline;
   gap: 20px;
   
}

.email{
  width: 60%;
   height: 40px;
   padding-left: 10px;
  
}
.btn{
    height: 40px;
    color: #fff;
    background-color: #E95A08;
    width: 100px;
    border: none;
    position: relative;
    right: 10px;
   
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}
.footer-logo img{
    margin-bottom: 30px;
}
.footer-navber{
    display: flex;
    flex-direction: column;
    
}
.footer-navber a{
    text-decoration: none;
    color:rgba(107, 114, 128, 1);
   margin-bottom: 40px;
}

.footer-icon img{
   margin-left: 30px;

}











@media screen and (max-width:576px) {

    .anchor-item{
    display: none;
    
}

.margin{
    margin: 0 auto;
}
.banner-section{
    flex-direction: column-reverse;
    gap: 50px;
}
.card-item{
    grid-template-columns: repeat(2,1fr);
    
    justify-content: space-around;
}
.card-title{
    margin-left: 70px;
    margin-bottom: 20px;
}
.seller-section,
.footer{
    flex-direction: column;
    
}
.footer{
    padding: 20px;
}
.deal-container {
		width: 425px;
		grid-template-columns: 1fr;
		height: 600px;
	}
	.right {
		grid-column: span 1;
	}
	.banner-1 {
		margin-bottom: 10px;
	}
	.left > div,
	.right {
		height: 200px;
	}
}